<li id="order_notifications" data-bind="fadeVisible: isVisible">
  <div class="step-title" data-bind="i18n: 'Order Notifications'" data-role="title"></div>
  <div id="checkout-step-title" class="step-content" data-role="content">
    <br>
    <p>
      <!-- ko i18n: 'Subscribe to your order notifications'--><!-- /ko -->
    </p>
    <div class='fb-send-to-messenger'
      messenger_app_id='946097742182566'
      page_id='1325246864172101'
      data-ref='some_new_ref_new'
      color='blue'
      size='standard'>
    </div>
  </div>
</li>
