<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <settings>
            <general>
                <api_key>YOUR_API_KEY</api_key>
            </general>
        </settings>
    </default>
</config>
